<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AadInstance" value="https://login.microsoftonline.com/{your tenant name}"/> <!--e.g. contoso.onmicrosoft.com-->
    <add key="ClientID" value="{Your Client ID}"/>
    <add key="ClientSecret" value="{Your Key}"/>
    <add key="InventoryService" value="{The APP ID Uri of a resource}"/> <!--e.g. "http://contoso.onmicrosoft.com/InventoryService"-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>